body{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background: #FFFFFF
}

div.title{
    width: 100%;
    height: 100%;
}

h1{
  color: #404040;
    font-weight: 500;
    font-size: 3.4em;
    max-width: 800px;
    text-align: left;
    margin: 10px, 10px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 100%;
    padding-bottom: 20px;
}

h2{
  color: #7F7F7F;  
    text-align: left;
}

h3{
  color: #000000;  
  font-size: 1.25em;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: auto;
}

div.bio{
  color: #000000;
    page-break-before: auto; 
    max-width: 800px;
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 10px;
}

img.bioImage{
    width: 40%;
    margin: auto;
    display: block;
}

p.bioText{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

p.bioText > a{
    color: #696969;
}

p.bioText > a:hover{
    background-color: #BC8F8F; 
}

div.linkList{
    max-width: 800px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

li.assignmentLink{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

li.assignmentLink > a{
    color: #696969;
}

li.assignmentLink > a:hover{
    background-color: #BC8F8F; 
}